In [4]:
import random
import numpy as np
import pandas as pd

from IPython.display import display, Math
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
def print_matrix(array):
    matrix = ''
    for row in array:
        try:
            for number in row:
                matrix += f'{number:.2f}&'
        except TypeError:
            matrix += f'{row}&'
        matrix = matrix[:-1] + r'\\'
    display(Math(r'\begin{bmatrix}'+matrix+r'\end{bmatrix}'))

In [3]:
pd.options.display.float_format = '{:.2f}'.format


nan_matrix = np.full((5, 6), np.NaN)
rows, cols = nan_matrix.shape
for i in range(rows):
    col_places = [random.randint(0, cols-1) for _ in range(random.randint(3, int(cols/2)))]
    for col in col_places:
        nan_matrix[i][col] = random.randint(1, 5)

nan_df = pd.DataFrame(nan_matrix)
display(nan_df)

nan_filled = nan_df.fillna(nan_df.mean(axis=0))
display(nan_filled)

nan_cosine = cosine_similarity(nan_filled.values)
print_matrix(nan_cosine)

     0    1    2    3    4    5
0 5.00  NaN  NaN  NaN 4.00 5.00
1  NaN 1.00  NaN  NaN 3.00 5.00
2  NaN 1.00  NaN 5.00 2.00  NaN
3  NaN  NaN 2.00 4.00  NaN 1.00
4 4.00 4.00  NaN  NaN  NaN 1.00

     0    1    2    3    4    5
0 5.00 2.00 2.00 4.50 4.00 5.00
1 4.50 1.00 2.00 4.50 3.00 5.00
2 4.50 1.00 2.00 5.00 2.00 3.00
3 4.50 2.00 2.00 4.00 3.00 1.00
4 4.00 4.00 2.00 4.50 3.00 1.00