In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [6]:
olist = pd.read_csv('./olist.csv', index_col=0)
olist.head()

                 customer_unique_id                        product_id
0  7973a6ba9c81ecaeb3d628c33c7c7c48  7c1bd920dbdf22470b68bde975dd3ccf
1  831a032a3327e2b8325faf9d37953870  216bb0e0cd43ffd832e0973d35e0377e
2  cb2d00950f18d7d8f7fcfc8cc3a173b7  389d119b48cf3043d311335e499d9c6b
3  f8f6ed51ded0d4757a6153f5ce0f8906  10717ff440b2320081989126e858b220
4  bf257f507db19138f5bc4065313c1f87  e53e557d5a159f5aa2c5e995dfdf244b

In [10]:
olist[olist['customer_unique_id'] == '7973a6ba9c81ecaeb3d628c33c7c7c48']

                   customer_unique_id                        product_id
0    7973a6ba9c81ecaeb3d628c33c7c7c48  7c1bd920dbdf22470b68bde975dd3ccf
235  7973a6ba9c81ecaeb3d628c33c7c7c48  154e7e31ebfa092203795c972e5804a6

In [16]:
records = []
for customer_id in olist['customer_unique_id']:
    records.append(olist[olist['customer_unique_id'] == customer_id]['product_id'].values)

records[0]

array(['7c1bd920dbdf22470b68bde975dd3ccf',
       '154e7e31ebfa092203795c972e5804a6'], dtype=object)

In [22]:
count = 0
for record in records:
    if len(record) > 1:
        count += 1

print(f"{count} records with more than 1 item")

263 records with more than 1 item

In [23]:
association_rules = apriori(
    records, 
    min_support=0.0045, 
    min_confidence=0.2,
    min_lift=3,
    min_length=2)

association_results = list(association_rules)
print(f"Identified {len(association_results)} association rules")

Identified 5 association rules

In [25]:
for idx, item in enumerate(association_results):
    pair = item[0]
    items = [x for x in pair]
    print(f"Rule: {items[0]} -> {items[1]}")
    print(f"Support: {item[1]}")
    print(f"Confidence: {item[2][0][2]:0.3f}")
    print(f"Lift: {item[2][0][3]:0.3f}")
    print("===============================")

Rule: 154e7e31ebfa092203795c972e5804a6 -> 2b4609f8948be18874494203496bc318
Support: 0.01232394366197183
Confidence: 0.519
Lift: 26.774
===============================
Rule: 154e7e31ebfa092203795c972e5804a6 -> 7c1bd920dbdf22470b68bde975dd3ccf
Support: 0.00528169014084507
Confidence: 0.222
Lift: 13.287
===============================
Rule: 3f14d740544f37ece8a9e7bc8349797e -> 36f60d45225e60c7da4558b070ce4b60
Support: 0.01232394366197183
Confidence: 0.412
Lift: 24.619
===============================
Rule: e53e557d5a159f5aa2c5e995dfdf244b -> 36f60d45225e60c7da4558b070ce4b60
Support: 0.008802816901408451
Confidence: 0.294
Lift: 17.585
===============================
Rule: b1acb7e8152c90c9619897753a75c973 -> 7c1bd920dbdf22470b68bde975dd3ccf
Support: 0.007042253521126761
Confidence: 0.421
Lift: 47.832
===============================

In [28]:
display(olist[olist['product_id'] == '154e7e31ebfa092203795c972e5804a6'])

                    customer_unique_id                        product_id
16    e89bab624ed1d8c75012bf52bacc654c  154e7e31ebfa092203795c972e5804a6
64    75bbb6b481a1df1689bb769e63ec3acb  154e7e31ebfa092203795c972e5804a6
235   7973a6ba9c81ecaeb3d628c33c7c7c48  154e7e31ebfa092203795c972e5804a6
316   eed42da7ee2f3ce26ab52758e63d855f  154e7e31ebfa092203795c972e5804a6
410   78c5f76b60a3a2588635aadc70e34df7  154e7e31ebfa092203795c972e5804a6
438   70755e5b9df5988f592f3dec6279f1be  154e7e31ebfa092203795c972e5804a6
459   5277f2c18bae9ff7f93aa8118ace6e03  154e7e31ebfa092203795c972e5804a6
475   688b3742e1811e97ff40b56440cd15f5  154e7e31ebfa092203795c972e5804a6
555   d7c6bdf20c4ec9c9cda815dde58e778a  154e7e31ebfa092203795c972e5804a6
573   2ddd50b61ee4a82b40033feecac1f863  154e7e31ebfa092203795c972e5804a6
600   7a1751f98e25f665fc0130c7b001e18f  154e7e31ebfa092203795c972e5804a6
668   ee9d97a7d28183a3d93aefb807e48524  154e7e31ebfa092203795c972e5804a6
726   f9739394ba1f9417dfdac702e30f4b44  154e7e31ebfa092203795c972e5804a6
780   8ef9add628931053f28350c0ad4bc7f7  154e7e31ebfa092203795c972e5804a6
808   92fc4892f11581ee802e8e2fa4296433  154e7e31ebfa092203795c972e5804a6
919   fda3a3eb3370c1295a4fc3f6cd3d7604  154e7e31ebfa092203795c972e5804a6
1117  6e6fdec52c6dbf58721bf7a4eaf5b679  154e7e31ebfa092203795c972e5804a6

In [31]:
display(olist[olist['customer_unique_id'] == 'e89bab624ed1d8c75012bf52bacc654c'])
display(olist[olist['customer_unique_id'] == '75bbb6b481a1df1689bb769e63ec3acb'])
display(olist[olist['customer_unique_id'] == '7973a6ba9c81ecaeb3d628c33c7c7c48'])
display(olist[olist['customer_unique_id'] == 'eed42da7ee2f3ce26ab52758e63d855f'])

                   customer_unique_id                        product_id
16   e89bab624ed1d8c75012bf52bacc654c  154e7e31ebfa092203795c972e5804a6
902  e89bab624ed1d8c75012bf52bacc654c  2b4609f8948be18874494203496bc318

                   customer_unique_id                        product_id
64   75bbb6b481a1df1689bb769e63ec3acb  154e7e31ebfa092203795c972e5804a6
716  75bbb6b481a1df1689bb769e63ec3acb  2b4609f8948be18874494203496bc318

                   customer_unique_id                        product_id
0    7973a6ba9c81ecaeb3d628c33c7c7c48  7c1bd920dbdf22470b68bde975dd3ccf
235  7973a6ba9c81ecaeb3d628c33c7c7c48  154e7e31ebfa092203795c972e5804a6

                   customer_unique_id                        product_id
316  eed42da7ee2f3ce26ab52758e63d855f  154e7e31ebfa092203795c972e5804a6
397  eed42da7ee2f3ce26ab52758e63d855f  2b4609f8948be18874494203496bc318

In [32]:
display(olist[olist['product_id'] == '3f14d740544f37ece8a9e7bc8349797e'])

                   customer_unique_id                        product_id
12   ec441c1966bfa602976763f330fc5168  3f14d740544f37ece8a9e7bc8349797e
87   2c7a802e0d32ce5642dd15228e54a475  3f14d740544f37ece8a9e7bc8349797e
89   4d1fe8b6f5e9ee044a14467c8b2832b6  3f14d740544f37ece8a9e7bc8349797e
160  1412559410af5e92c35e053fd6acd006  3f14d740544f37ece8a9e7bc8349797e
230  9a2344afe2d1a43559906bd456567a9b  3f14d740544f37ece8a9e7bc8349797e
263  d2ba241618c8d279f887476b41705adb  3f14d740544f37ece8a9e7bc8349797e
375  5ebd246be48ec18bf3859966284333f8  3f14d740544f37ece8a9e7bc8349797e
532  158ff08f9b1aeebfa96820580f3877a6  3f14d740544f37ece8a9e7bc8349797e
581  ec441c1966bfa602976763f330fc5168  3f14d740544f37ece8a9e7bc8349797e
604  0f10d99ee99ca3d0489f2f2169b41ec3  3f14d740544f37ece8a9e7bc8349797e
612  96d3a3257161c32fe93aea0e38b16515  3f14d740544f37ece8a9e7bc8349797e
883  22cdbb2cacc76cc791130127e8b9eb02  3f14d740544f37ece8a9e7bc8349797e

In [33]:
display(olist[olist['customer_unique_id'] == 'ec441c1966bfa602976763f330fc5168'])
display(olist[olist['customer_unique_id'] == '2c7a802e0d32ce5642dd15228e54a475'])
display(olist[olist['customer_unique_id'] == '4d1fe8b6f5e9ee044a14467c8b2832b6'])
display(olist[olist['customer_unique_id'] == '1412559410af5e92c35e053fd6acd006'])
display(olist[olist['customer_unique_id'] == '9a2344afe2d1a43559906bd456567a9b'])

                   customer_unique_id                        product_id
12   ec441c1966bfa602976763f330fc5168  3f14d740544f37ece8a9e7bc8349797e
581  ec441c1966bfa602976763f330fc5168  3f14d740544f37ece8a9e7bc8349797e

                  customer_unique_id                        product_id
87  2c7a802e0d32ce5642dd15228e54a475  3f14d740544f37ece8a9e7bc8349797e

                   customer_unique_id                        product_id
89   4d1fe8b6f5e9ee044a14467c8b2832b6  3f14d740544f37ece8a9e7bc8349797e
771  4d1fe8b6f5e9ee044a14467c8b2832b6  36f60d45225e60c7da4558b070ce4b60

                   customer_unique_id                        product_id
160  1412559410af5e92c35e053fd6acd006  3f14d740544f37ece8a9e7bc8349797e
197  1412559410af5e92c35e053fd6acd006  36f60d45225e60c7da4558b070ce4b60

                    customer_unique_id                        product_id
230   9a2344afe2d1a43559906bd456567a9b  3f14d740544f37ece8a9e7bc8349797e
1012  9a2344afe2d1a43559906bd456567a9b  36f60d45225e60c7da4558b070ce4b60